# Ignore node_modules and build output
node_modules
.next
out

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore test and environment files
*.test.js
*.spec.js
.env
.env.local
.env.development
.env.production
.env.*.local

# Ignore editor directories and files
.vscode
.idea
*.swp

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Ignore build artifacts
dist
.cache
coverage
*draft*
